@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

a {
  all: unset;
}

.header {
  padding: 40px 20px 0;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 40px 32px 0;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1), (-webkit-min-device-pixel-ratio: 1), (min-resolution: 96dpi) {
  .header {
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 767px), screen and (min-resolution: 96dpi) and (max-width: 767px) {
  .header {
    background-image: url(../images/header/abstract_320px1.jpg);
    height: 230px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 768px) and (max-width: 1279px), screen and (min-resolution: 96dpi) and (min-width: 768px) and (max-width: 1279px) {
  .header {
    background-image: url(../images/header/abstract_768px1.jpg);
    height: 216px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 1280px), screen and (min-resolution: 96dpi) and (min-width: 1280px) {
  .header {
    background-image: url(../images/header/abstract_1280px1.jpg);
    height: 216px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 1.8958333333333333), (min-resolution: 182dpi) {
  .header {
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 1.8958333333333333) and (max-width: 767px), screen and (min-resolution: 182dpi) and (max-width: 767px) {
  .header {
    background-image: url(../images/header/abstract_320px2.jpg);
    height: 230px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px), screen and (-webkit-min-device-pixel-ratio: 1.8958333333333333) and (min-width: 768px) and (max-width: 1279px), screen and (min-resolution: 182dpi) and (min-width: 768px) and (max-width: 1279px) {
  .header {
    background-image: url(../images/header/abstract_768px2.jpg);
    height: 216px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (-webkit-min-device-pixel-ratio: 1.8958333333333333) and (min-width: 1280px), screen and (min-resolution: 182dpi) and (min-width: 1280px) {
  .header {
    background-image: url(../images/header/abstract_1280px2.jpg);
    height: 216px;
  }
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icon {
  display: inline;
}

.header__title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .header__title {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__title {
    display: inline-block;
  }
}

.header__links {
  display: flex;
}

.header__home-page {
  padding: 10px;
  margin-right: 20px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.header__my-library {
  padding: 10px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.header__form-input {
  font-weight: 400;
  all: unset;
  background-color: inherit;
  color: #ffffff;
  cursor: text;
}
@media screen and (max-width: 767px) {
  .header__form-input {
    max-width: 336px;
  }
}
@media screen and (min-width: 768px) {
  .header__form-input {
    width: 394px;
  }
}

.header__form-input::-moz-placeholder {
  color: #ffffff;
}

.header__form-input:-ms-input-placeholder {
  color: #ffffff;
}

.header__form-input::placeholder {
  color: #ffffff;
}

.header__form-button {
  all: unset;
  background-color: inherit;
  cursor: pointer;
}

.header__form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
  border-bottom: 0.5px solid #ffffff;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .header__form {
    margin-top: 60px;
    max-width: 336px;
  }
}
@media screen and (min-width: 768px) {
  .header__form {
    margin-top: 40px;
    width: 394px;
  }
}/*# sourceMappingURL=index.css.map */