
<div class="container">
  <h1>hello world</h1>
</div>

<a href="#" id="myBtn">GoIT Students</a>



<div id="teamModal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>


    <div class="main-photo-thumb">
      <div class="main-photo-thumb__item"><img src="./images/header/abstract_320px1.jpg" alt="альтернативный текст"></div>
      <p class="student-name">Name Surname</p>
      <p class="student-role">Developer</p>
    </div>

    <div class="main-photo-thumb">
      <div class="main-photo-thumb__item"><img src="./images/header/abstract_320px1.jpg" alt="альтернативный текст"></div>
      <p class="student-name">Name Surname</p>
      <p class="student-role">Developer</p>
    </div>

    <div class="main-photo-thumb">
      <div class="main-photo-thumb__item"><img src="./images/header/abstract_320px1.jpg" alt="альтернативный текст"></div>
      <p class="student-name">Name Surname</p>
      <p class="student-role">Developer</p>
    </div>

    <div class="main-photo-thumb">
      <div class="main-photo-thumb__item"><img src="./images/header/abstract_320px1.jpg" alt="альтернативный текст"></div>
      <p class="student-name">Name Surname</p>
      <p class="student-role">Developer</p>
    </div>

    <div class="main-photo-thumb">
      <div class="main-photo-thumb__item"><img src="./images/header/abstract_320px1.jpg" alt="альтернативный текст"></div>
      <p class="student-name">Name Surname</p>
      <p class="student-role">Developer</p>
    </div>

    <div class="main-photo-thumb">
      <div class="main-photo-thumb__item"><img src="./images/header/abstract_320px1.jpg" alt="альтернативный текст"></div>
      <p class="student-name">Name Surname</p>
      <p class="student-role">Developer</p>
    </div>

    <div class="main-photo-thumb">
      <div class="main-photo-thumb__item"><img src="./images/header/abstract_320px1.jpg" alt="альтернативный текст"></div>
      <p class="student-name">Name Surname</p>
      <p class="student-role">Developer</p>
    </div>

    <div class="main-photo-thumb">
      <div class="main-photo-thumb__item"><img src="./images/header/abstract_320px1.jpg" alt="альтернативный текст"></div>
      <p class="student-name">Name Surname</p>
      <p class="student-role">Team lead</p>
    </div>

    <div class="main-photo-thumb">
      <div class="main-photo-thumb__item"><img src="./images/header/abstract_320px1.jpg" alt="альтернативный текст"></div>
      <p class="student-name">Name Surname</p>
      <p class="student-role">Scrum master</p>
    </div>

    

    

</div>
