<header class="header">
  <nav class="header__navigation">
    <a class="header__logo" href="./index.html">
      <img class="header__icon" src="./images/header/icon.svg" alt="Logo" />
      <span class="header__title">Filmoteka</span>
    </a>
    <ul class="header__links">
      <li>
        <a
          class="header__home-page navigation__link--current"
          href="./index.html"
          >home</a
        >
      </li>

      <a class="header__my-library" href="./library.html">my library </a>
    </ul>
  </nav>
  <div class="container__form">
    <form autocomplete="off" class="header__form">
      <input
        class="header__form-input"
        type="text"
        placeholder="Movie search"
        name="searchmovies"
      />
      <button class="header__form-button" type="submit">
        <img src="./images/header/loupe.svg" alt="Loupe" />
      </button>
    </form>
  </div>
  <div class="js-warning header-warning"></div>
</header>
