<header class="header">
  <div class="header__navigation">
    <a class="header__logo" href="#../index.html">
      <img class="header__icon" src="./images/header/icon.svg" alt="Logo" />
      <span class="header__title">Filmoteka</span>
    </a>
    <div class="header__links">
      <a class="header__home-page" href="./index.html">home</a>
      <a class="header__my-libery" href="./partials/my-libery.html"
        >my library</a
      >
    </div>
  </div>
  <div class="container__form">
    <form autocomplete="off" class="header__form">
      <input
        class="header__form-input"
        type="text"
        placeholder="Movie search"
      />
      <button class="header__form-button" type="submit">
        <img src="./images/header/loupe.svg" alt="Loupe" />
      </button>
    </form>
  </div>
</header>
