<header class="my-library my-library-header">
    <div class="my-library__container">
        <nav class="my-library-nav">
            <a href="/src/index.html" class="logo">Filmoteka</a>
            <ul class="navigation">
                <li class="navigation__item">
                    <a href="/src/index.html" class="navigation__link">Home</a>
                </li>
                <li class="navigation__item">
                    <a href="" class="navigation__link navigation__link--current">My library</a>
                </li>
            </ul>
        </nav>

        <div class="my-library__buttons">
            <button type="button" class="library__button">Watched</button>
            <button type="button" class="library__button">Queue</button>
        </div>
    </div>
</header>