<div id="teamModal" class="modal">
  <div class="modal-content">
    <button class="close">&times;</button>


    <div class="main-photo-thumb">
      <div class="main-photo-thumb__item">
        <img class="image starunsky"
          src="./images/team/Daniil_Starynsky.jpeg"
          alt="альтернативный текст"
        />
      </div>
      <p class="student-name">Daniil Starunsky</p>
      <p class="student-role">Team Lead</p>
    </div>

    <div class="main-photo-thumb">
      <div class="main-photo-thumb__item">
        <img class="image besarab"
          src="./images/team/Vadym_Besarab.jpg"
          alt="альтернативный текст"
        />
      </div>
      <p class="student-name">Vadym Besarab</p>
      <p class="student-role">Scrum Master</p>
    </div>

    <div class="main-photo-thumb">
      <div class="main-photo-thumb__item">
        <img class="image kuprichenkov"
          src="./images/team/Dmytro_Kyprichenko.png"
          alt="альтернативный текст"
        />
      </div>
      <p class="student-name">Dmytro Kuprichenkov</p>
      <p class="student-role">Developer</p>
    </div>

    <div class="main-photo-thumb">
      <div class="main-photo-thumb__item">
        <img class="image gavva"
          src="./images/team/Volodymyr_Gava.jpeg"
          alt="альтернативный текст"
        />
      </div>
      <p class="student-name">Volodymyr Gavva</p>
      <p class="student-role">Developer</p>
    </div>

    <div class="main-photo-thumb">
      <div class="main-photo-thumb__item">
        <img class="image herlovan"
          src="./images/team/Artur_Herlovan.jpeg"
          alt="альтернативный текст"
        />
      </div>
      <p class="student-name">Artur Herlovan</p>
      <p class="student-role">Developer</p>
    </div>

    <div class="main-photo-thumb">
      <div class="main-photo-thumb__item">
        <img class="image filipchenko"
          src="./images/team/Filipchenko_Dima.jpeg"
          alt="альтернативный текст"
        />
      </div>
      <p class="student-name">Dmytro Filipchenko</p>
      <p class="student-role">Developer</p>
    </div>

    <div class="main-photo-thumb">
      <div class="main-photo-thumb__item">
        <img class="image shulyar"
          src="./images/team/Andrew_Shulyar.jpeg"
          alt="альтернативный текст"
        />
      </div>
      <p class="student-name">Andrew Shulyar </p>
      <p class="student-role">Developer</p>
    </div>

    <div class="main-photo-thumb">
      <div class="main-photo-thumb__item">
        <img class="image oliinyk"
          src="./images/team/Liudmyla_Oliynyk.jpeg"
          alt="альтернативный текст"
        />
      </div>
      <p class="student-name">Liudmyla Oliinyk</p>
      <p class="student-role">Developer</p>
    </div>

    <div class="main-photo-thumb">
      <div class="main-photo-thumb__item">
        <img class="image vasylenko"
          src="./images/team/Oleksandr_Vasylenko.jpeg"
          alt="альтернативный текст"
        />
      </div>
      <p class="student-name">Oleksandr Vasylenko</p>
      <p class="student-role">Developer</p>
    </div>
  </div>
</div>
