a {
  all: unset;
}

.header {
  padding: 40px 20px 0;

  @media screen and (max-width: 768px) {
    padding: 40px 32px 0;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 1),
    (min-resolution: 96dpi) {
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 767px) {
      background-image: url(../images/header/abstract_320px1.jpg);
      height: 230px;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      background-image: url(../images/header/abstract_768px1.jpg);
      height: 216px;
    }
    @media screen and (min-width: 1280px) {
      background-image: url(../images/header/abstract_1280px1.jpg);
      height: 216px;
    }
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 182dpi) {
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 767px) {
      background-image: url(../images/header/abstract_320px2.jpg);
      height: 230px;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      background-image: url(../images/header/abstract_768px2.jpg);
      height: 216px;
    }
    @media screen and (min-width: 1280px) {
      background-image: url(../images/header/abstract_1280px2.jpg);
      height: 216px;
    }
  }
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  cursor: pointer;
}

.header__icon {
  display: inline;
  padding-right: 12px;
}

.header__title {
  @media screen and(max-width:767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  color: #ffffff;
}

.header__links {
  display: flex;
  align-items: baseline;

  & > li {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.header__link {
  // margin: 10px 30px 10px 10px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;

  &::after {
    position: absolute;
    content: '';
    display: block;
    right: 0;
    width: 0;
    height: 3px;
    background-color: $colorSecondaryActive;
  }
}

.header__form-input {
  font-weight: 400;

  all: unset;
  background-color: inherit;
  color: #ffffff;
  cursor: text;
  @media screen and (max-width: 767px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 393px;
  }
}

.header__form-input::placeholder {
  color: #ffffff;
}

.header__form-button {
  all: unset;
  background-color: inherit;
  cursor: pointer;
  position: relative;
  padding: 3px 0 0 22px;
  
}
.header_loop_icon{
  padding: 10px;
  position: absolute;
  top: -35%;
  left: 0%;
}
.header__form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
  border-bottom: 0.5px solid #ffffff;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    margin-top: 60px;
    width: 280px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-top: 40px;
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 393px;
    margin-top: 40px;
  }
}

.header-warning {
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  line-height: 1.14;

  @media screen and (max-width: 767px) {
    max-width: 280px;
    margin-top: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 393px;
    text-align: center;
    margin-top: 20px;
  }

  @media screen and (min-width: 1280px) {
    width: 393px;
    text-align: center;
    margin-top: 20px;
  }

  color: #ff001b;
}

.current_page {
  &::after {
    width: 100%;
    left: 0;
    background-color: $colorAlert;
  }
}
.current_page:hover::after {
  background-color: $colorSecondaryActive;
}
.current_page:focus::after {
  background-color: $colorSecondaryActive;
}

.header__flex {
    display: flex;
    position: relative;
}

.theme-button__container {
  margin-top: 35px;
}

.header__flex--library {
  justify-content: flex-end;
}