.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
}

.movie__gallery {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    gap: 15px;
  }
}

.movie__card {
  margin: 20px 0;
  width: 280px;
  @media screen and (min-width: 768px) {
    width: 336px;
    margin: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    margin-bottom: 16px;
  }
}

.movie__poster {
  width: 280px;
  height: 402px;
  border-radius: 5px;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 455px;
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 574px;
    margin-bottom: 12px;
  }
}

.movie__name {
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 3px;

  color: #000000;
  @media screen and (min-width: 768px) {
    line-height: 1.33;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie__info {
  font-size: 12px;
  line-height: 1.17;

  color: #ff6b08;
  @media screen and (min-width: 768px) {
    line-height: 1.33;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie__year::before {
  content: '|';
  margin: 0 3px;
  // border: 1px solid #FF6B08;
}
