.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
}

.movie__gallery {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    gap: 15px;
  }
}

.movie__card {
  margin: 20px 0;
  width: 280px;
  @media screen and (min-width: 768px) {
    width: 336px;
    margin: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    margin-bottom: 16px;
  }
}

.movie__poster {
  width: 280px;
  height: 402px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 455px;
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 574px;
    margin-bottom: 12px;
  }
}

.movie__name {
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 3px;
  cursor: pointer;

  color: #000000;
  @media screen and (min-width: 768px) {
    line-height: 1.33;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie__info {
  font-size: 12px;
  line-height: 1.17;

  color: #ff6b08;
  @media screen and (min-width: 768px) {
    line-height: 1.33;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie__year::before {
  content: '|';
  margin: 0 3px;
  // border: 1px solid #FF6B08;
}

.modal__movie {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  height: auto;

  width: 280px;
  max-height: 940px;

  background-color: #fff;
  padding: 48px 20px 40px 20px;

  @media screen and (max-height: 750px) {
    max-height: 560px;
    overflow-y: auto;
  }

  @media screen and (min-width: 768px) {
    display: flex;

    padding: 40px 40px 40px 36px;
    width: 704px;
    max-height: 552px;
    overflow-y: unset;
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    max-height: 558px;
    padding: 40px 12px;
  }

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
.modal__close {
  position: absolute;
  left: 95%;
  top: 5px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;

  background-color: transparent;
  border: none;
  border-radius: 50%;

  padding: 0 8px;

  @media (max-width: 768px) {
    left: 89%;
  }

  &:hover,
  &:focus {
    color: $accentColor;
    background-color: #4b4949;
  }
}

.modal__poster {
  width: 240px;
  height: 357px;
  border-radius: 5px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373.55px;
    margin-right: 68px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
    height: 478px;
    margin-right: 16px;
  }
}

.modal__movie-name {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;

  color: #000000;

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.16;
  }
}

.modal__description-title {
  font-size: 12px;
  line-height: 1.33;
  width: 108px;

  color: #8c8c8c;

  @media screen and (min-width: 1280px) {
    width: 152px;
  }
}

.modal__table {
  margin-bottom: 20px;
}

.modal__description-text {
  font-size: 12px;
  line-height: 1.33;

  color: #000000;

  &--slash {
    color: #8c8c8c;
  }
}

.modal__about-title {
  font-size: 12px;
  line-height: 1.33;

  text-transform: uppercase;
  color: #000000;
  margin-bottom: 8px;
}

.modal__about-text {
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 20px;
  max-height: 236px;
  overflow: hidden;

  color: #000000;

  @media screen and (min-width: 768px) {
    width: 264px;
  }

  @media screen and (min-width: 1280px) {
    width: 391px;
    max-height: 160px;
  }
}

.modal__span {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  width: 36px;

  &--rate {
    background-color: #ff6b08;
    color: #ffffff;
  }

  &--votes {
    background-color: #f7f7f7;
    color: #000000;
  }
}

.modal__btn-container {
  display: flex;
  gap: 20px;
  @media screen and (min-width: 768px) {
    gap: 15px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 8px;
  }
}

.modal__btn {
  width: 110px;
  height: 44px;
  border-radius: 5px;

  font-size: 12px;
  line-height: 1.33;

  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &--watched {
    color: $titleColor;
    background-color: $secondaryColor;
    border: 1px solid $titleColor;
  }
  &.modal__btn--watched.btn_watched_list{
    color: $secondaryColor;
    background-color: $colorSecondaryActive;
    border: 1px solid transparent;
  }
  &.modal__btn--queue.btn_queue_list{
    color: $secondaryColor;
    background-color: $colorSecondaryActive;
    border: 1px solid transparent;
  }
  &--queue {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid $titleColor;
  }

  @media screen and (min-width: 768px) {
    width: 125px;
    height: 44px;
  }

  @media screen and (min-width: 1280px) {
    width: 136px;
  }
}
